body{
  background-color: #f3f4f6;

}
.navbar{
  background-color: #1e597d;
  margin-bottom: 1px; 
  border-radius: .25rem;
}
.navbar a{
  color: white;
}
.navbar ul li a:hover{
 background-color: #447fa2cf;
}
.portfolio-item {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;

}
.listcar:hover{
    margin-top: -2px;
    margin-left: -2px;
    box-shadow: 2px 2px 2px 2px grey;
    transition:  0.5s;

}
.listcar{
       background-color: white; 
    transition:  0.5s;
}
#footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
}
#footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
}
#footer ul.quick-links li a i{
     margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
#footer h4{
     padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
}
#footer a{
	color: white;
}
.page-header a{
  
  color: #1e597d;
}
.page-header a:hover{
  text-decoration: none;
}
.listcar a{
  color: #1e597d;

}
.detail_table tr{
  border-bottom: 1px solid #c8c4c1; 
}