body{
  background-color: #f3f4f6;

}
.navbar{
  background-color: #1e597d;
  margin-bottom: 1px; 
  border-radius: .25rem;
}
.navbar a{
  color: white;
}
.navbar ul li a:hover{
 background-color: #447fa2cf;
}
.menu-left {
  height: 100%;
  background-color: #1e597d;
  display: block;
  padding: 0;
  padding-top: 10px;
  cursor: context-menu;
  border-radius: .25rem;
}
.menu-left ul{
 border-right:  1px solid  #1e597d;
 border-bottom:  1px solid white;

 width: 100%;
 list-style-type:none;
 display: block;
 color: white;
 height: 100%;
 padding-left: 0;
 margin-bottom: 0px;

}

.main-li{
  background-color: #1e597d;

}
.menu-left ul li{
  padding: 15px;
  height: 50px;
  width: 100%;
  border-top:  1px solid white;


}
.menu-left ul li:hover{
  background-color: #447fa2cf;
}
.menu-left h3{
  color: white;


}
.menu-left h4{
  color: white;
  margin: 0px;
  margin-left: 15px;
  text-decoration: none;
}
.menu-left ul li a:hover{
  text-decoration: none;
}
.menu-left h4 span{

  margin-right: 15px;
}
#mnProduct{
  display: none;
  background-color: #1e7d63de;

}
#mnProduct h4{
  padding-left: 30px; 
}
#mnAcccont{
  display: none;
  background-color: #1e7d63de;

}
#mnAcccont h4{
  padding-left: 30px; 
}
#mnOrder{
  display: none;
  background-color: #1e7d63de;

}
#mnOrder h4{
  padding-left: 30px; 
}
#mnEmployee{
  display: none;
  background-color: #1e7d63de;

}
#mnEmployee h4{
  padding-left: 30px; 
}
#mnList{
  display: none;
  background-color: #1e7d63de;

}
#mnList h4{
  padding-left: 30px; 
}

.content-title{
  background-color:#e9ecef;
  color: #1e597d;
  margin-top: 15px;
  height: 50px;
  border-radius: .25rem;
  margin-bottom: 15px;


}
.content-title h3{
  margin-top: 12px;
}
.panel-default{
  background-color:#f3f4f6 ; 
  border: 1px solid #1e597d;
  color: #1e597d;
}
.panel-default .panel-heading{
  margin: 0;
  width: 100%;
  background-color:#1e597d ; 
  border: 1px solid #1e597d;
  color: white;

}
.list_table td:hover{
  background-color: #337ab740;
}

.list_table a{
  color: #1e597d;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: block;
}
.l_table{
 max-height: 400px;
 overflow: auto;
}


